::root{
  font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

//! Base
@import "../assets/typography";
@import "../assets/variables";
@import "../assets/functions";


//! partials
@import "sass-partials/header"; 

body{
  background: $primary-color-3;
}

.adabtable-container{
  @media screen and (max-width: 576px) { /* Styles for mobile devices */
    padding: 0 3.5% !important;
  }
  @media screen and (min-width: 577px) { /* Styles for mobile devices */
    padding: 0 4% !important;
  }
  @media screen and (min-width: 768px) { /* Styles for mobile devices */
    padding: 0 5.5% !important;
  }
  @media screen and (min-width: 992px) { /* Styles for mobile devices */
    padding:  0 7.5% !important;
  }
  @media screen and (min-width: 1200px) { /* Styles for mobile devices */
    padding:  0 10% !important;
  }
}

.active__liks_list{
  display: flex !important;
}
.nav_links_scroll{
  box-shadow: 0px -3px 37px 0px #565656a1;
  background: $primary-color-3;
}