::root{
  font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

//! Base
@import "../assets/typography";
@import "../assets/variables";
@import "../assets/functions";


//! partials
@import "sass-partials/header"; 
@import "sass-partials/second-section"; 

body{
  background: $primary-color-3;
  font-family: $primary-font-family;
}

.adabtable-container{
  @media screen and (max-width: 576px) { /* Styles for mobile devices */
    padding: 0 3.5% !important;
  }
  @media screen and (min-width: 577px) { /* Styles for mobile devices */
    padding: 0 4% !important;
  }
  @media screen and (min-width: 768px) { /* Styles for mobile devices */
    padding: 0 5.5% !important;
  }
  @media screen and (min-width: 992px) { /* Styles for mobile devices */
    padding:  0 7.5% !important;
  }
  @media screen and (min-width: 1200px) { /* Styles for mobile devices */
    padding:  0 10% !important;
  }
}

.active__liks_list{
  display: flex !important;
}
.nav_links_scroll{
  box-shadow: 0px -3px 37px 0px #565656a1;
  background: $primary-color-3;
}

.active_box{
  border-color: #ffffff00 !important;
  background-color: $primary-color-1 !important;
  box-shadow: 0px 16px 50px -11px rgba(0,0,0,0.3);

  &:hover{
    border-color: #ffffff00;
  }

  h1{
    color: $primary-color-4 !important;
  }
  p{
    display: block !important;
  }
  button{
    color: $primary-color-3 !important;
  }
}