::root{
  font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

//! Base
@import "../assets/typography";
@import "../assets/variables";
@import "../assets/functions";


//! partials
@import "sass-partials/header"; 
@import "sass-partials/second-section"; 
@import "sass-partials/third-section"; 
@import "sass-partials/fourth-section"; 

body{
  background: $primary-color-3;
  font-family: $primary-font-family;
  padding-top: 5rem;
}

.content{
  font-family: $primary-font-family;
  padding: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: cetner;
  flex-direction: column;

  &__text{
    flex-grow: 2;
    text-align: center;

    h1{
      color: $primary-color-2;
    }
    p{
      font-size: 17px;
      margin: 2rem 0;
      color: $primary-color-5;
    }

    a{
      @include action-button();
    }
  }

  &__img {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    position: relative;

    img{
      width: 100%;
    }

    .badge{
      position: absolute;
      font-size: 14px;
      color: #3a3939;
      @include badge(#e2e2e2, .8);
    }
    
  }

  @media screen and (min-width: 768px){
      &{
              &__img{
                  width: 48% !important;

                  img{
                      width: 100%;
                  }
              }
          }
  }

  @media screen and (min-width: 992px){
    &{
              flex-direction: row !important;
              padding-top: 8rem !important;

              &__text{
                  text-align: left !important;
                  padding-right: 5rem;
              }

              &__img{
                  width: 70% !important;

                  img{
                      width: 100%;
                  }

                  .badge:nth-child(1){
                      bottom: 24% !important;
                      left: -10% !important;
                  }
                  .badge:nth-child(2){
                      bottom: 10%;
                      right: -10%;
                      width: 12rem;
                  }
              }
      }
  }

  @media screen and (min-width: 1200px){
  &{
            &__text{
                padding-right: 2rem;
            }

            &__img{
                width: 50% !important;
            }
        
    }
  }
}

.adabtable-container{
  @media screen and (max-width: 576px) { /* Styles for mobile devices */
    padding: 0 3.5% !important;
  }
  @media screen and (min-width: 577px) { /* Styles for mobile devices */
    padding: 0 4% !important;
  }
  @media screen and (min-width: 768px) { /* Styles for mobile devices */
    padding: 0 5.5% !important;
  }
  @media screen and (min-width: 992px) { /* Styles for mobile devices */
    padding:  0 7.5% !important;
  }
  @media screen and (min-width: 1200px) { /* Styles for mobile devices */
    padding:  0 10% !important;
  }
}
.active__liks_list{
  display: flex !important;
}
.nav_links_scroll{
  box-shadow: 0px -3px 37px 0px #565656a1;
  background: $primary-color-3;
}
.active_box{
  border-color: #ffffff00 !important;
  background-color: $primary-color-1 !important;
  box-shadow: 0px 16px 50px -11px rgba(0,0,0,0.3);

  &:hover{
    border-color: #ffffff00;
  }

  h1{
    color: $primary-color-4 !important;
  }
  p{
    display: block !important;
  }
  button{
    color: $primary-color-3 !important;
  }
}