.header{
    .navbar{
        font-family: $primary-font-family;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: .8rem 0 .8rem 0;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        background: $primary-color-3;
        transition: box-shadow $transition;
        z-index: 1000;

        &__logo{
            display: inherit;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            div{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: 50px;
                }
                p{
                    margin-left: 1rem;
                    color: $primary-color-1;
                    font-weight: bold;
                }
            }    
        }

        button{
                color: $primary-color-5;
                transition: color $transition;
                padding: 1rem 1.4rem;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1.3rem;
        }

        &__links{
            display: none;
            flex-direction: column;
            text-align: center;
            width: 100%;
            padding: 0 1rem 1rem 1rem;
            z-index: 1000;

            a{
                text-decoration: none;
                color: $primary-color-5;
                transition: color $transition;
                padding: 1rem 1.4rem;

                &:hover{
                    color: $primary-color-1;
                }

                &:nth-child(5){
                    @include action-button();
                }
            }
        }
    }

    .badge{
        @include badge($primary-color-1, .1);
        color: $primary-color-1;
        font-size: 17px;
        margin-bottom: 1rem;
    }
    .content__img{
        .badge:nth-child(1){
            bottom: 30%;
            left: -9%;   
            animation: floating-animation 5s linear infinite;         
        }
        .badge:nth-child(2){
            bottom: -12%;
            right: -10%;
            width: 12rem;
            animation: floating-animation 7.5s linear infinite;

            @media screen and (min-width: 992px){
                bottom: -2%;
                right: -9%;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .header{
        .navbar{
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;

            &__logo{
                width: auto;
            }
            &__links{
                display: flex;
                flex-direction: row;
                padding: 0;
                width: auto;
            }
            button{
                display: none;
            }
        }
    }
}