//? colors
$primary-color-1: #3c7de4;
$primary-color-2: #18325f;
$primary-color-3: #f6f9fe;
$primary-color-4: #fff;

//? Typography
$primary-font-family: 'Roboto', sans-serif;

$fs-1: 2.4rem;
$fs-2: 2rem;
$fs-3: 1.8rem;
$fs-4: 1.5rem;

@media screen and (max-width: 576px) { /* Styles for mobile devices */
  .fs-1{
    font-size: $fs-1;
  }
  .fs-2{
    font-size: $fs-2;
  }
  .fs-3{
    font-size: $fs-3;
  }
  .fs-4{
    font-size: $fs-4;
  }
}
@media screen and (min-width: 577px) { /* Styles for small tablets and larger mobile devices */
  .fs-1{
    font-size: calc($fs-1 + .3rem);
  }
  .fs-2{
    font-size: calc($fs-2 + .3rem);
  }
  .fs-3{
    font-size: calc($fs-3 + .3rem);
  }
  .fs-4{
    font-size: calc($fs-4 + .3rem);
  }
}
@media screen and (min-width: 768px) { /* Styles for tablets and small desktop screens */ 
  .fs-1{
    font-size: calc($fs-1 + .5rem);
  }
  .fs-2{
    font-size: calc($fs-2 + .5rem);
  }
  .fs-3{
    font-size: calc($fs-3 + .5rem);
  }
  .fs-4{
    font-size: calc($fs-4 + .5rem);
  }
}
@media screen and (min-width: 992px) { /* Styles for large desktop screens and above */
  .fs-1{
    font-size: calc($fs-1 + .7rem);
  }
  .fs-2{
    font-size: calc($fs-2 + .7rem);
  }
  .fs-3{
    font-size: calc($fs-3 + .7rem);
  }
  .fs-4{
    font-size: calc($fs-4 + .7rem);
  }
}
@media screen and (min-width: 1200px) { /* Styles for large desktop screens and above */
  .fs-1{
    font-size: calc($fs-1 + .9rem);
  }
  .fs-2{
    font-size: calc($fs-2 + .9rem);
  }
  .fs-3{
    font-size: calc($fs-3 + .9rem);
  }
  .fs-4{
    font-size: calc($fs-4 + .9rem);
  }
}
